name: Build Flatpak

on:
  push:
    branches:
      - master
      - flatpak-action
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  flatpak:
    name: "Build Flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
      options: --privileged

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: UltimateDoomBuilder.flatpak
          manifest-path: flatpak/io.github.ultimatedoombuilder.ultimatedoombuilder.yml # Update this path if different
          cache: true
          run-tests: false
          cache: true
          restore-cache: true
          cache-key: flatpak-builder-${{ hashFiles('flatpak/io.github.ultimatedoombuilder.ultimatedoombuilder.yml') }}          

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltimateDoomBuilder-Flatpak
          path: UltimateDoomBuilder.flatpak